{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static './Css/content_us.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>content_us</title>
</head>
<body>

    <div class="imge">
        <img style="width: 100%; height: 210rem;" src="{% static './imges/road2.webp'%}" alt="img_road">
    </div>

    <div class="contner">

        <section class="section1">
            <nav class="nav">
                <header>

                   <ul class="nav_header">
                        <li><a href="{% url 'home:home'  %}">Home</a> </li>
                        <li><a href="{% url 'cars:all_cars'  %}">Browse thecars </a> </li>
                        <li><a href="#">Contact us</a> </li>
                        <li><a href="#">portfolio</a> </li>
                        <li><a href="{% url 'abuot_team:All_employds'  %}">cabout team</a> </li>
                        <li><a href="#">contact us</a> </li>
                    </ul>
                
            
            
                </header>
            </nav>
        </section>
        <section class="section2">
            <div class="section2_div">
                <img src="{%static './imges//cont_imge/tndara.jpg'%}">
            </div>
            <div class="hder_titile">
                <h2>2020 Toyota Hilux </h2>
                <h4>Double Cab VIII (facelift 2020)<br> 2.4 D-4D (150 Hp) 4x4</h4>
            </div>

            <div class="hder_titile_coler">
                <h1> welcome on cars shoping </h1>
            </div>
        </section>
        <section class="section22">
          <div class="abut_us1">
              <h1 ><samp style="color: rgb(13, 104, 116);">Cont</samp>act us</h1>
            <div>
                <h3>Adress</h3>
                <h5>{{myinfo.place}}    </h5>
            </div>

           

            <div>
                <h3>Phone</h3>
                <h5>{{myinfo.phone_number}}   </h5>
            </div>

            <div>
                <h3>Email</h3>
                <h5>{{myinfo.email}}</h5>
            </div>

            

          </div>
          <div class="abut_us2">
              <div class="form">
                <div class="sub-page-left box-9">

                    <h3><samp style="color: rgb(13, 104, 116);">Contact</samp> Form</h3>

                    <form  method="post" >
                        {% csrf_token %}
                      <fieldset>
                        <label>
                          <input type="text" value="Name"  name="name">
                        </label>
                        <label>
                          <input type="text" value="Email" name="email">
                        </label>
                        <label>
                          <input type="text" value="Phone" name='phone'>
                        </label>
                        <label>
                          <textarea onBlur="if(this.value==''){this.value='MESSAGE'}" name='message' onFocus="if(this.value=='MESSAGE'){this.value=''}">MESSAGE</textarea>
                        </label>
                        <div class="btns"><a href="#" class="button" >Send</a></div>
                      </fieldset>
                    </form>

                    
                  </div>
              </div>
          </div>


        </section>

        <section class="section3">
           
        </section>
       
       
        <section class="section6">
            <div class="card" style="width: 18rem;">
                <h4>abuot tems</h4>
                <ul>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                </ul> 
            </div>
            <div class="card" style="width: 18rem;">
                <h4>contact us</h4>
                <ul>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                </ul> 
                
            </div>
              <div class="card" style="width: 18rem;">
                <h4>about us</h4>
                <ul>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                </ul>                 
            </div>
            <div class="card" style="width: 18rem;">
                <h4>Create by beko</h4>
                <ul>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                </ul> 

            </div>
            
        </section>

    </div>

    
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>