{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './Css/abuot_us.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>about_us</title>
</head>
<body>

    <div class="imge">
        <img style="width: 100%; height: 210rem;" src="{% static './imges/road2.webp'%}" alt="img_road">
    </div>

    <div class="contner">

        <section class="section1">
            <nav class="nav">
                <header>

                   <ul class="nav_header">
                        <li><a href="{% url 'home:home'  %}">Home</a> </li>
                        <li><a href="{% url 'cars:all_cars'  %}">Browse thecars </a> </li>
                        <li><a href="{% url 'contact_us:contact'  %}">contact us</a> </li>
                        <li><a href="#">portfolio</a> </li>
                        <li><a href="#">about my </a> </li>
                        <li><a href="#">contact us</a> </li>
                    </ul>
                
            
            
                </header>
            </nav>
        </section>
        <section class="section2">
            <div class="section2_div">
                <img src="{%static './imges//cont_imge/tndara.jpg'%}">
            </div>
            <div class="hder_titile">
                <h2>2020 Toyota Hilux </h2>
                <h4>Double Cab VIII (facelift 2020)<br> 2.4 D-4D (150 Hp) 4x4</h4>
            </div>

            <div class="hder_titile_coler">
                <h1> welcome on cars shoping </h1>
            </div>
        </section>
        <section class="section22">
            <div class="life_side" style="background-color: rgba(240, 248, 255, 0.274);">

                {% for i in  all %}
                <div class="inner">
                   <div class="box_img">
                       <div><img class="card-img-top" src="{{i.images.url}}" alt="Card image cap"></div>
                   </div>
                   <div class="box_info">
                       <div class="onfo">
                           <h4>{{i.name}}</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, consectetur voluptatibus, fugiat est alias exce</p>
                       </div>
                         <a href="{% url 'abuot_team:car_employds' i.id %}"  id ="btn-primary" class="btn btn-primary">Go somewhere</a>

                   </div>
                </div>
                {% endfor %}
                
            </div>

            <div class="right_side">
                <div class="new">
                    <h3>what new</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam atque amet quam facilis, magni omnis officiis tempore illo reiciendis voluptatum nisi praesentium labore molestias? Quo perspiciatis optio unde eligendi! Suscipit.</p>
                </div>
                <div class="new">
                    <h3>what new</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam atque amet quam facilis, magni omnis officiis tempore illo reiciendis voluptatum nisi praesentium labore molestias? Quo perspiciatis optio unde eligendi! Suscipit.</p>
                </div>
                <div class="new">
                    <h3>what new</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam atque amet quam facilis, magni omnis officiis tempore illo reiciendis voluptatum nisi praesentium labore molestias? Quo perspiciatis optio unde eligendi! Suscipit.</p>
                </div>
                <div class="new">
                    <h3>webside for car bay</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam atque amet quam facilis, magni omnis officiis tempore illo reiciendis voluptatum nisi praesentium labore molestias? Quo perspiciatis optio unde eligendi! Suscipit.</p>

                </div>
            </div>

           
        </section>

        <section class="section3">
            
           test 2
        </section>
       
       
        <section class="section6">
            <div class="card" style="width: 18rem;">
                <h4>abuot tems</h4>
                <ul>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                </ul> 
            </div>
            <div class="card" style="width: 18rem;">
                <h4>contact us</h4>
                <ul>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                </ul> 
                
            </div>
              <div class="card" style="width: 18rem;">
                <h4>about us</h4>
                <ul>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ul>                 
            </div>
            <div class="card" style="width: 18rem;">
                <h4>Create by beko</h4>
                <ul>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                    <li>Coffee</li>
                     <li>Tea</li>
                    <li>Milk</li>
                </ul> 

            </div>
            
        </section>

    </div>

    
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>